.pT4{
  &__paging{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    //position: sticky;
    //top: 0;
    //background-color: $facet-color-silver;
    &.results{
      li{
        margin-left: 1rem;
        h6{
          margin:0;
        }
      }
    }
    li{
      &.interlayer{
        margin-left: -.25rem;
        margin-right: .5rem;
        color: rgba(0,0,0,.125);
      }

      &.nav{
        a{
          border:none;
          margin:0;
        }
        &:last-child{
          margin-left:-.75rem;
        }
      }

      a{
        padding: .35rem .75rem;
        margin-right: .75rem;
        border: 1px solid rgba(0,0,0,.125);
        border-radius:3px;
        &.active{
          border: 1px solid $blue;
        }
      }
    }
  }
  &__form-goto{
    //margin-left:1rem;
    input{
      max-width: 3rem;
    }

  }
}