.pT4{
  &__result{
    //transition: opacity 0.75s;
    //opacity:0;
    //
    //&.show{
    //  opacity:1;
    //  //pointer-events:none;
    //}

    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    .card {
      margin-bottom: .75rem;
      margin-right: .75rem;
      flex-basis: calc( 50% - .75rem);
      box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
    }
  }
}

@media (min-width: 576px) {
  .pT4{
    &__result{
      .card {
        flex-basis: calc( 33.33% - .75rem);
      }
    }
  }
}

@media (min-width: 992px) {
  .pT4{
    &__result{
      .card {
        flex-basis: calc( 25% - .75rem);
      }
    }
  }
}

