$blue : #007bff !default;
$red : #dc3545 !default;
$yellow: #FFD700 !default;
$white : #fefefe !default;

$danger : $red;

$facet-color-blue: #0000FF !default;
$facet-color-green: #008000 !default;
$facet-color-black: #000 !default;
$facet-color-white: #fff !default;
$facet-color-multicolor: linear-gradient(to right, #008500 0%,#feac0f 20%,#ff5206 40%,#ff0000 60%,#6601a6 80%,#084767 100%) !default;
$facet-color-motif: #fff !default;
$facet-color-pink: #FFC0CB !default;
$facet-color-yellow: #FFFF00 !default;
$facet-color-orange: #FFA500 !default;
$facet-color-red: #FF0000 !default;
$facet-color-gray: #808080 !default;
$facet-color-brown: #A52A2A !default;
$facet-color-gold: #FFD700 !default;
$facet-color-silver: #C0C0C0 !default;
$facet-color-beige: #F5F5DC !default;
$facet-color-turquoise: #40E0D0 !default;
$facet-color-purple: #800080 !default;

$facet-color-motif-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%), linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%) !default;